* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat,sans-serif;
  cursor: default;
}

.App {
  margin: 0 15%;
  margin-top: 5%;
  background-color: rgb(198, 225, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.1);
  transition: all .5s;
  padding: 2rem 3rem;
}

.title {
  margin: 1rem;
  font-size: 2.3rem;
  letter-spacing: .2rem;
  font-weight: bold;
  opacity: 0.6;
  text-transform: uppercase;
  opacity: 0.5;
  color: rgb(63, 63, 63);
}

.form {
  border-width: .3rem;
  width: 100%;
  border-bottom: 1px solid rgb(171, 171, 171);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.form>input{
  flex-grow: 1;
  height: 2.5rem;
  padding: 0 1rem;
  outline: none;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  font-weight: 600;
}

input:focus {
 
}

button {
  border: 0;
  outline: none;
}

/* add button */
.add_button{
  position: relative;
  display: inline-flex;
  width: 100px;
  height: 55px;
  margin: 0 10px;
  perspective: 1000px;
}
.add_button a{
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}

.add_button a:before,
.add_button a:after{
  position: absolute;
  content: "ADD";
  height: 55px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(44, 29, 29, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}
.add_button a:before{
  color: #fff;
  background: rgb(53, 53, 53, 0.5);;
  transform: rotateY(0deg) translateZ(25px);
}
.add_button a:after{
  color: rgb(53, 53, 53, 0.5);;
  transform: rotateX(90deg) translateZ(25px);
}
.add_button a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


.list_container {
  padding: 2rem 1rem;
  width: 100%;
}

.todo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
}

.todo {
  font-size: 1rem;
}

.todo_complete {
  text-decoration: line-through;
}

.todo_buttons {
  display: flex;
}

/* check box */
input[type="checkbox"] {
  padding: 0;
  position: relative;
  width: 2rem;
  height: 2rem;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  margin: 0 0.5rem;
  box-sizing: border-box;
}

input[type="checkbox"]:focus {
  border-color: none;
  box-shadow: none;
}
input[type="checkbox"]::before {
    position: absolute;
    content: "";
    display: block;
    top: 5px;
    left: 9px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
input[type="checkbox"]:checked {
    color: white;
    border-color: rgb(35, 135, 55);
    background: rgb(35, 135, 55);
}
input[type="checkbox"]:checked::before {
      opacity: 1;
}

.delete_button {
  color: white;
  background-color: rgba(215, 95, 95, 0.94);
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.delete_button:hover {
  color: rgba(215, 95, 95, 0.94);
  background-color: white;
}

.umaru {
  width: 8rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}


/* Hover Effects on Card */

@media (min-width: 992px) {
  .App:hover {
    margin-top: 4%;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.536);
  }
  .App:hover .title {
    opacity: 1;
  }

  .App:hover .form>input {
    background-color: white;
  }

  .App:hover .add_button a:before,
  .App:hover .add_button a:after{
    border: 5px solid rgb(44, 29, 29);
  }
  .App:hover .add_button a:before{
    background: rgb(53, 53, 53);
  }
  .App:hover .add_button a:after{
    color: rgb(53, 53, 53);;
  }
}

@media (max-width: 992px) {
  .title {
    opacity: 1;
  }

  .form>input {
    background-color: white;
  }

  .add_button a:before,
  .add_button a:after{
    border: 5px solid rgb(44, 29, 29);
  }
  .add_button a:before{
    background: rgb(53, 53, 53);
  }
  .add_button a:after{
    color: rgb(53, 53, 53);;
  }
}